/************************************************
    UTILITIES
 ************************************************/
 .row {
    display: flex;
}
.s-between {
    justify-content:space-between;
}

.space-around {
    justify-content: space-around;
}
.justify-centre {
    justify-content: center;
}
.items-start {
    align-items: flex-start;
}
.baseline {
    align-items: baseline;
}
.items-center {
    align-items: center;
}

.row-reverse {
    flex-direction: row-reverse;
}

.j-center {
    justify-content: center;
    justify-items: center;
}

.j-end {
    justify-content: flex-end;
}
.content-center {
    align-content: center;
}

.column { 
    flex-direction: column;
}
.wrap {
    flex-wrap: wrap;
}
.no-shrink {
    flex-shrink: 0;
}

.gap-20 {
    gap: 20px;
}

.debug {
    border: 1px solid red;
}